/* general */
body {
  font-family: "Roboto", sans-serif;
  font-size: 0.9em;
  font-weight: 500;
}
:root {
  --color-primary: #f8f9fa;
  --color-card: #ffffff;
  --color-sidebar-first-bg: #051e34;
  --color-nav-bg: #1b72e8;
  --color-button-nav: #1a1a1a4f;
  --color-icon-color: #6c757d;
  --color-bell: #ff8f00;
}
header {
  background-color: var(--color-primary);
  padding: 20px 10px;
}
nav {
    background-color: var(--color-card);
}
#topbar {
    background-color: var(--color-nav-bg);    
}
main {
  width: calc(100% - 150px);
  height: 100%;
  background-color: var(--color-primary);
  padding-top: 68px;
}
#sidebar {
  width: 150px;
  height: 100%;
  padding-top: 68px;
  background-color: var(--color-sidebar-first-bg);
}

/* main */
main div.container-fluid {
    padding-bottom: 100px;
}
main .card {
   margin-top: 24px; 
}
main table tr th {
    font-weight: 400;
}
main table tr th:not(th:first-child),
main table tr td:not(td:first-child) {
    width: 100px;
    text-align: center;
}
main table img {
    width: 30px;
}
h2.accordion-header button {
    font-size: 1rem;
    font-weight: 500;
}
