/* general */
body {
  font-family: "Roboto", sans-serif;
  font-size: 0.9em;
  font-weight: 500;
}
:root {
  --color-primary: #f8f9fa;
  --color-card: #ffffff;
  --color-sidebar-first-bg: #051e34;
  --color-nav-bg: #1b72e8;
  --color-nav-badge: #165BBA;
  --color-button-nav: #1a1a1a4f;
  --color-search-bar: #e5e5e5;
  --color-nav-icons: #5a5858;
  --color-bell: #ff8f00;
}
header {
  background-color: var(--color-primary);
  padding: 15px 0;
}
nav {
  background-color: var(--color-card);
  padding: 0 10px;
}
#topbar {
  padding: 20px 12px;
  color: var(--color-primary);
  background-color: var(--color-nav-bg);
}
main {
  width: calc(100% - 150px);
  height: 100%;
  background-color: var(--color-primary);
  padding-top: 70px;
}
#sidebar {
  width: 150px;
  height: 100%;
  padding-top: 90px;
  padding-bottom: 40px;
  background-color: var(--color-sidebar-first-bg);
  background-image: url("../img/sidebar-bg.png");
  background-position: center;
  color: var(--color-card);
}

/* header */
header img#small-logo {
  display: none;
}
header nav form input {
  height: 40px;
}
header nav > div:first-child,
header nav > div:last-child {
  width: 155px;
}
header nav > div a i {
  padding: 5px;
  color: var(--color-nav-icons);
}
header .fa-bell {
  color: var(--color-bell);
}

/* sidebar */
#sidebar ul {
  padding: 0;
  list-style: none;
}
#sidebar ul li {
  margin-left: 15px;
}
#sidebar ul li a {  
  width: 120px;
  text-decoration: none;
  color: var(--color-primary);
  padding: 10px 10px;
}
#sidebar ul li a:hover {
  background-color: rgba(255, 255, 255, 0.603);
  transition-duration: 0.2s;
  transition-timing-function: linear;
}
#sidebar ul li a i {
  text-align: center;
  width: 20px;
}

/* main */
#topbar .badge {
  background-color: var(--color-nav-badge);
  font-size: 0.9rem;
  font-weight: 500;
}
#topbar .badge .fa-plus {
  font-size: 0.7rem;
}
main div.container-fluid {
  padding-bottom: 40px;
}
main .card {
  margin-top: 24px;
}
main table tr th {
  font-weight: 400;
}
main table tr th:not(th:first-child),
main table tr td:not(td:first-child) {
  width: 100px;
  text-align: center;
}
main table img {
  width: 30px;
  border-radius: 50%;
}
h2.accordion-header button {
  font-size: 1rem;
  font-weight: 500;
}


/* media queries */
@media screen and (max-width: 1040px) {
  .sp_first-off {
    display: none;
}
}
@media screen and (max-width: 991px) {
  .sp_first-off {
    display: table-cell;
}
}
@media screen and (max-width: 768px) {
  header {
    padding: 10px 0;
  }
  header img#big-logo,
  header .fa-list-ul,
  header .fa-circle-question,
  header .fa-ellipsis-vertical,
  #sidebar ul li a span {
    display: none;
  }
  header img#small-logo {
    width: 50px;
    display: block;
  }
  header nav > div:first-child,
  header nav > div:last-child {
    width: auto;
  }
  main {
    width: calc(100% - 70px);
  }
  #sidebar {
    width: 70px;
    margin: 0;
  }
  #sidebar ul li a {
    width: auto;
  }
}
@media screen and (max-width: 670px) {
    .sp_first-off {
        display: none;
    }
}
@media screen and (max-width: 576px) {
    .sp_second-off {
        display: none;
    }
}
